
body{
    margin: 0;
    font-family: sans-serif;
}

header {
    width: 100%;
    background: #212222;
}

#btn-menu {
    display:  none;
}

header label{
    display: none;
    width: 32px;
    height: 32px;
    padding: 10px;
    border-right: 1px solid #FFF;

}

header label:hover{
    cursor: pointer;
    background: rgba(0,0,0,0.5);
}

.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: row;
}
.menu li {
    border-right: 1px solid #FFF;
}
.menu li{
    text-align: center;
flex-grow: 1;

}
.menu li:hover{
    background:rgba(51, 50, 50, 0.836);
}
.menu li a {
    display: block;
    padding: 15px 20px;
    color: #FFF;
    text-decoration: none;
}
/* este tamaño marca que cuando el ancho valga eso, se ejecuta esto*/
@media (max-width:500px){
    header label {/*Muestro el label*/
        display:block;
    }
    .menu {
        position: absolute;
        background:#212222;
        width: 70%;
        margin-left: -70%;
        transition: all 0.25s;
    }

    .menu ul {
        flex-direction: column;

    }

    .menu li {
        border-top: 1px solid #FFF;

    }
    #btn-menu:checked ~ .menu{/*busca la clase menu*/
        margin: 0;

    }
}

/*SLIDER*/
/*Solo fotos 1440x900*/
.banner {
    position: relative;
    width: 100%;
    height: calc(75vh); /*50vh = 50% del navegador*/
    background-color:#F5F5F5;
    background-size: cover;
    background-position: center;
    transition: all .1s ease-in-out;
    background-image: url(../../Imagenes/slide/1.jpg);
    animation: banner 28s infinite linear; /*el 28 viene de 28/4 imagenes= 7 seg imagen*/
}
.banner-content{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #FFF;
    background-color: rgba(0, 22, 40, 0.349);/*Tinta de la foto*/
    display: flex;
    /*Alinear texto en centro*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-content h1{ /*Estilos texto del slider*/
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    font-size: 40px;
    text-align: center;    
}
.banner-content a{ /*Estilos boton del slider*/
    text-decoration: none;
    color: #FFF;
    padding:9px 20px; /*9px de arriba abajo, 20 px lado a lado*/
    border: 1px solid #FFF;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}

.banner-content a:hover{/*Animación ratón por encima*/
    background-color: rgb(17, 12, 12);
    color: rgb(255, 253, 253);
}
@keyframes banner{/*100%/nº imagenes*/
    0%{
        background-image: url(../PaginaWeb/Imagenes/slide/1.jpg);
    }
    25%{
        background-image: url(../PaginaWeb/Imagenes/slide/1.jpg);
    }
    26%{
        background-image: url(../PaginaWeb/Imagenes/slide/2.jpg);
    }
    50%{
        background-image: url(../PaginaWeb/Imagenes/slide/2.jpg);
    }
    51%{
        background-image: url(../PaginaWeb/Imagenes/slide/3.jpg);
    }
    75%{
        background-image: url(../PaginaWeb/Imagenes/slide/3.jpg);
    }
    76%{
        background-image: url(../PaginaWeb/Imagenes/slide/4.jpg);
    }
    100%{
        background-image: url(../PaginaWeb/Imagenes/slide/4.jpg);
    }
}

/*Articulos destacados*/
.post-list {
    display: flex;
    min-height: 30vh; /*Distancia del slide a articulos*/
    align-items: center;
    justify-content: space-ar;
    padding: 30px 15px;
}

.content{
    display: grid;
    grid-template-columns: repeat(3, 2fr); /*División en 3 columnas*/
    grid-gap: 10px;
    max-width: 1500px;
    margin: auto;
}
/*Fotos de 800x600*/
.post-img-1{
    background: url(../PaginaWeb/Imagenes/Articulos/Destacados/1.jpg);
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}
.post-img-2{
    background: url(../PaginaWeb/Imagenes/Articulos/Destacados/2.jpg);
    width: 100%;
    height: 220px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}

.post-img-3{
    background: url(../PaginaWeb/Imagenes/Articulos/Destacados/3.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}

.post-img-4{
    background: url(../PaginaWeb/Imagenes/Articulos/Destacados/4.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}

.post-img-5{
    background: url(../PaginaWeb/Imagenes/Articulos/Destacados/5.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}

.post-img-6{
    background: url(../PaginaWeb/Imagenes/Articulos/Destacados/6.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}

.post{

    box-shadow: 0 1px 6px 1px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: .2s;
}

.post:hover{
    transform: translateY(-4px);
    box-shadow: 0 1px 14px 2px rgb(17, 12, 12);
}
.post-header{
    width: 100%;
    height: 200px;
    overflow: hidden;
    cursor: pointer;
}
.post:hover .post-img-1,
.post:hover .post-img-2,
.post:hover .post-img-3,
.post:hover .post-img-4,
.post:hover .post-img-5,
.post:hover .post-img-6{
    transform: scale(1,1);
}

.post-body{
    padding: 15px;
    text-align: center;
}

.post-body span{
    display: inline-block;
    color: #999;
    margin-bottom: 10px;
}

.post-body h5{
    margin-bottom: 15px;
}

.post-body p{
    line-height: 1.5;
    margin-bottom: 20px;
}

.post-body .post-link{
    display: block;
    text-decoration: none;
    padding: 10px;
    background:#545657;
    color:#FFF;
    width:50%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 1px 2px 6px 1px rgba(0,0,0,0.1);
    transition: .2s;
}

.post-body .post-link:hover{
    background:#545657;
    box-shadow: 1px 2px 6px 1px rgba(0,0,0,0.2);
    transform: translateY(-2px);
}

/*Adaptación a móviles de articulos destacados*/

@media (max-width:840px){
    .content{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width:600px){
    .content{
        grid-template-columns: repeat(1, 1fr);
    }
}