body{
    margin: 0;
    font-family: sans-serif;
}

header {
    width: 100%;
    background: #4E94AB;
}

#btn-menu {
    display:  none;
}

header label{
    display: none;
    width: 32px;
    height: 32px;
    padding: 10px;
    border-right: 1px solid #FFF;

}

header label:hover{
    cursor: pointer;
    background: rgba(0,0,0,0.5);
}

.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: row;
}
.menu li {
    border-right: 1px solid #FFF;
}
.menu li{
    text-align: center;
flex-grow: 1;

}
.menu li:hover{
    background:rgba(0,0,0,0.3);
}
.menu li a {
    display: block;
    padding: 15px 20px;
    color: #FFF;
    text-decoration: none;
}
/* este tamaño marca que cuando el ancho valga eso, se ejecuta esto*/
@media (max-width:500px){
    header label {/*Muestro el label*/
        display:block;
    }

    .menu {
        position: absolute;
        background:#4E94AB;
        width: 70%;
        margin-left: -70%;
        transition: all 0.25s;

    }

    .menu ul {
        flex-direction: column;

    }

    .menu li {
        border-top: 1px solid #FFF;

    }
    #btn-menu:checked ~ .menu{/*busca la clase menu*/
        margin: 0;

    }
}
